<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
</head>
<body>
 
    <h2>Registrar<h2>
    <form action="/show" method="POST">
        <input type="text" placeholder="Nome" name="name">
        <input type="text" placeholder="Sobrenome" name="surname">
        <input type="text" placeholder="Telefone" name="telefone">
        <input type="text" placeholder="Genero" name="genero">
        <input type="text" placeholder="Cidade" name="cidade">
        <input type="text" placeholder="Idade" name="idade">
        <input type="text" placeholder="Cpf" name="cpf">
        <input type="text" placeholder="Rg" name="rg">
        <input type="text" placeholder="Datanascimento" name="datanascimento">
        <input type="text" placeholder="Numerodacasa" name="numerodacasa">
        <button type="submit">Submit</button>
        
    </form> 
 
</body>
</html>